@charset "UTF-8";
html {
  font-size: 16px;
  overflow-x: hidden; /* Oculta el scroll horizontal en toda la página */
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* HEADER RESPONSIVE */
header {
  background: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: grid;
  grid-template-columns: 0.5fr auto minmax(600px, 3fr) 0.5fr;
  /* Menú hamburguesa */
}
header .logo-link {
  grid-column: 2/3;
}
header .logo-link .header-logo {
  width: 200px;
  height: auto;
  display: block;
}
header .navegador {
  grid-column: 3/4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header .header-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}
header .header-links a {
  color: #895442;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
}
header .nav-toggle {
  display: none;
}
header .nav-toggle-label {
  display: none;
}

/* Media queries */
@media screen and (max-width: 1200px) {
  header {
    grid-template-columns: 1fr auto 1fr;
  }
  header .nav-toggle-label {
    display: block;
    padding: 1rem;
    position: absolute;
    right: 2rem;
    top: 1rem;
    cursor: pointer;
  }
  header .nav-toggle-label span,
  header .nav-toggle-label span::before,
  header .nav-toggle-label span::after {
    display: block;
    background: #895442;
    height: 3px;
    width: 2rem;
    position: relative;
  }
  header .nav-toggle-label span::before,
  header .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }
  header .nav-toggle-label span::before {
    bottom: 7px;
  }
  header .nav-toggle-label span::after {
    top: 7px;
  }
  header .navegador {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.888); /* Fondo oscuro semi-transparente */
    width: 100%;
    height: 100%;
    transform: scale(1, 0);
    transform-origin: top right; /* Expande desde la esquina superior derecha */
    transition: transform 0.3s ease-in-out;
    padding: 2rem 1rem; /* Espaciado interno */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    overflow: hidden; /* Evita que el contenido se salga del contenedor */
    z-index: 999; /* Asegura que el menú esté por encima de otros elementos */
  }
  header .navegador .header-links {
    flex-direction: column;
    padding: 0rem;
  }
  header .navegador .header-links a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
  }
  header .nav-toggle:checked ~ .navegador {
    transform: scale(1, 1);
    display: block;
  }
}
/* FOOTER*/
footer {
  background-color: #895442;
  color: white;
  width: 100%;
  text-align: center;
  padding: 1rem;
}
footer .footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
footer .footer-links .footer-clickeables {
  width: 30px; /* Ajusta el tamaño de los iconos */
  margin: 10px;
}

/* INICIO*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Separa el contenido y el footer */
  overflow-x: hidden;
  position: relative;
  padding: 2rem;
  max-width: 1200px;
  display: block;
  unicode-bidi: isolate;
}

.bienvenidadeinicio {
  display: grid;
  gap: 1rem;
  text-align: center;
  padding-top: 60px; /* Espacio superior para evitar que el contenido quede tapado por la navbar */
}
.bienvenidadeinicio .bienvenida {
  margin: 0%;
}
.bienvenidadeinicio .bienvenida .holaSoySofia {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #895442;
}
.bienvenidadeinicio .bienvenida .yacovella {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #cbc411;
}
.bienvenidadeinicio .soy {
  font-size: clamp(1.7rem, 3.7vw, 2.7rem);
  color: #292828;
}
.bienvenidadeinicio .fotodepresentacion {
  display: block; /* Para que la imagen no tenga espacios laterales */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  width: 100%; /* La imagen no excederá el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Asegura que la imagen se ajuste sin distorsionarse */
  transform: scale(1); /* Tamaño normal */
  transition: transform 0.3s ease; /* Suaviza el efecto de zoom */
}
.bienvenidadeinicio .texto {
  font-size: clamp(1.3rem, 3.3vw, 2.3rem);
  color: #292828;
  margin-bottom: 60px;
}

/* Media query para pantallas medianas */
@media screen and (max-width: 768px) {
  .bienvenidadeinicio {
    gap: 2rem; /* Reducir el gap */
  }
  .bienvenidadeinicio .holaSoySofia, .bienvenidadeinicio .yacovella {
    font-size: clamp(2.4rem, 2.4vw, 2.4rem);
  }
  .bienvenidadeinicio .soy {
    font-size: clamp(2rem, 3vw, 2rem);
    margin: 10px;
  }
  .bienvenidadeinicio .fotodepresentacion {
    transform: scale(1.4); /* Ajusta el nivel de zoom según lo desees */
  }
  .bienvenidadeinicio .texto {
    font-size: clamp(1.7rem, 2.7vw, 1.7rem); /* Ajustar el tamaño de texto */
    margin-top: 9px;
    margin-bottom: 25px;
  }
}
/* Media query para pantallas pequeñas (móviles) */
@media screen and (max-width: 480px) {
  .bienvenidadeinicio {
    gap: 1rem; /* Reducir el gap */
  }
  .bienvenidadeinicio .holaSoySofia, .bienvenidadeinicio .yacovella {
    font-size: clamp(2.3rem, 2.3vw, 2.3rem);
  }
  .bienvenidadeinicio .soy {
    font-size: clamp(1.8rem, 3.6vw, 2.6rem);
    margin-bottom: 25px;
  }
  .bienvenidadeinicio .fotodepresentacion {
    transform: scale(2.2); /* Ajusta el nivel de zoom según lo desees */
  }
  .bienvenidadeinicio .texto {
    font-size: clamp(1.4rem, 2.4vw, 1.4rem); /* Ajustar el tamaño de texto */
    margin-top: 25px;
  }
}
/* SOBRE MI*/
.sobremi {
  max-width: 1200px;
  margin: 0 auto;
}
.sobremi .titulo-sobremi {
  font-size: clamp(2.5rem, 5.5vw, 4.5rem);
  color: #292828;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}
.sobremi .contenedorsobremi {
  display: grid;
  grid-template-columns: 1.1fr 0.8fr; /* Dos columnas de igual tamaño */
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
.sobremi .contenedorsobremi .parrafo-sobremi {
  gap: 1.5rem;
}
.sobremi .contenedorsobremi .parrafo-sobremi p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  line-height: 1.6;
  color: #292828;
  text-align: justify;
}
.sobremi .contenedorsobremi .imagen-sobremi {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.sobremi .contenedorsobremi .imagen-sobremi .imgsobremi {
  max-width: 100%;
  border-radius: 7px;
}

/* Media queries para Sobre Mi */
@media screen and (max-width: 768px) {
  .sobremi {
    padding: 1rem;
  }
  .sobremi .contenedorsobremi {
    padding-top: 60px; /* Espacio superior para evitar que el contenido quede tapado por la navbar */
    padding-right: 20px;
    padding-left: 20px;
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
  }
  .sobremi .contenedorsobremi .parrafo-sobremi {
    order: 2; /* Cambia el orden en móvil */
  }
  .sobremi .contenedorsobremi .parrafo-sobremi p {
    padding: 0 1rem;
  }
  .sobremi .contenedorsobremi .imagen-sobremi {
    justify-content: center;
    order: 1; /* Cambia el orden en móvil */
  }
}
@media screen and (max-width: 480px) {
  .sobremi {
    padding: 0.5rem;
  }
  .sobremi .contenedorsobremi .parrafo-sobremi p {
    font-size: 1rem;
  }
}
/* TRABAJOS */
.trabajos .titulo-trabajos {
  font-size: clamp(2.5rem, 5.5vw, 4.5rem);
  color: #292828;
  text-align: center;
  margin-bottom: 1rem;
}
.trabajos .contenedortrabajos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.trabajos .contenedortrabajos .trabajos-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Agrega un espacio entre los elementos */
  transition: transform 0.3s ease;
  flex-wrap: wrap;
}
.trabajos .contenedortrabajos .trabajos-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.trabajos .contenedortrabajos .trabajos-links a .clickable-image {
  background-color: none;
  color: black;
  padding: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px; /* Limita el ancho máximo de la imagen */
  height: auto;
}
.trabajos .contenedortrabajos .trabajos-links a .clickable-image:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

/* Media queries */
@media screen and (max-width: 768px) {
  .contenedortrabajos {
    padding: 1rem;
  }
  .trabajos-links {
    flex-direction: column; /* Cambia la dirección a columna */
    gap: 15px;
  }
}
@media screen and (max-width: 480px) {
  .contenedortrabajos {
    padding: 0.5rem;
  }
  .trabajo-item {
    margin-bottom: 3rem; /* Ajustar espacio entre trabajos */
  }
}
/* CONTACTO */
.tituloContacto {
  font-size: clamp(2.5rem, 5.5vw, 4.5rem);
  color: #292828;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contenedorformulario {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: space-between; /* Espacio entre la imagen y el formulario */
  align-items: center;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
}
.contenedorformulario .imagenformulario {
  flex: 1; /* Toma el 50% del espacio */
  margin-left: 1rem;
}
.contenedorformulario .imagenformulario .imgform {
  width: 80%;
  height: auto;
}
.contenedorformulario .formulario {
  flex: 1; /* Toma el 50% del espacio */
  margin-right: 1rem;
  /* Estilos para el formulario */
}
.contenedorformulario .formulario form {
  display: flex;
  flex-direction: column;
}
.contenedorformulario .formulario form label {
  margin-bottom: 0.5rem;
}
.contenedorformulario .formulario form input, .contenedorformulario .formulario form textarea, .contenedorformulario .formulario form button {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #292828;
  background-color: rgba(194, 189, 123, 0.7294117647);
  border-radius: 4px;
}
.contenedorformulario .formulario form button {
  background-color: #895442;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}
.contenedorformulario .formulario form button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .contenedorformulario {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    padding: 1rem; /* Ajustar padding */
  }
  .contenedorformulario .formulario,
  .contenedorformulario .imagenformulario {
    margin: 0; /* Eliminar márgenes laterales */
    width: 100%; /* Asegurar que ocupen todo el ancho disponible */
  }
  .contenedorformulario .imgform {
    width: 100%; /* Asegurar que la imagen ocupe todo el ancho disponible */
  }
}
/* EDUCACION */
main {
  padding-top: 60px;
  padding-right: 20px;
  padding-left: 20px;
}
main .titulo-educacion {
  font-weight: bold;
  font-size: clamp(2.5rem, 5.5vw, 4.5rem);
  color: #292828;
  text-align: center;
  margin-bottom: 1rem;
}
main .titulo-formaciones {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #895442;
}
main .titulo {
  text-decoration: underline;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}
main .parrafo {
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  margin: 10px;
}
main article {
  margin-bottom: 30px; /* Espaciado inferior entre artículos */
  color: #292828; /* color del artículo */
  border-radius: 20px; /* Bordes redondeados */
  padding: 5px; /* Espaciado interno */
  background-color: #cbc411; /* Color de fondo */
}

/* SERVICIOS */

.servicios .titulo-servicios {
  font-size: clamp(2.5rem, 5.5vw, 4.5rem);
  color: #292828;
  text-align: center;
  margin-bottom: 1rem;
}

.servicios .frase-servicios{
  color: #292828;
  font-size: 25px;
  text-align: center;
}

.servicios .servicios-layout{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Agrega un espacio entre los elementos */
  transition: transform 0.3s ease;
  flex-wrap: wrap;
}

.servicio .p{
  border: 2px solid #4CAF50; /* Borde verde */
  background-color: #e8f5e9;
}


.servicios .servicios-layout .carrito-container{
  border: 2px solid #895442;
  padding: 5%;
  border-radius: 10px;
  background-color: rgba(194, 189, 123, 0.285);
  color: #292828;

}


/*# sourceMappingURL=style.css.map */
