@use 'variables'; // Importamos las variables
@use 'mixins';    // Importamos los mixins

$items: 'home', 'about', 'services', 'contact'; // Lista de items

// Usamos un bucle @each para iterar sobre los items
ul.nav-items {
    @each $item in $items {
        li.#{$item} {
            display: inline-block;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            color: $primary-color;
            margin: 0.5rem;
        }
    }
}