@mixin border-radius($radius: 10px) {
    border-radius: $radius;
}

@mixin button-style($bg-color: $primary-color, $text-color: $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;

}

// Mixin condicional para mostrar o no el display
@mixin display-if($show) {
    @if $show == true {
        display: block;
    } @else {
        display: none;
    }
}

// Mixin para crear un layout de grid
@mixin grid-layout($columns: 3) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: 1rem;
}