$primary-color: #895442;
$secondary-color: #cbc411;
$tertiary-color:#c2bd7bba;
$text-color: #292828;
$font-family: 'Nunito', sans-serif;
$font-size-base: 16px;
$font-size-large: 20px;

$colors: (
    primary-color: $primary-color,
    secondary-color: $secondary-color,
    tertiary-color:$tertiary-color,
    text-color: $text-color,
    font-family: font-family,
    font-size-base: $font-size-base,
    font-size-large: $font-size-large,
);